<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<body>
<div id="container">
    <header>
        <h1>OUR BRANCHES</h1>
    </header>
    <div id="main">
        <div id="main1">
            <section>
                <h5>Pune</h5>
                <address>	Tata Consultancy Services
                    Electronic Sadan No. 3, MIDC, Bhosari, Pune 411 026
                    Phone: 91 20 66115656 / 27123501
                    Fax: 91 20 27129209
                    Office Type: Delivery Center, Regional Office
                    Description: Delivery Center Phone: 91 (020) 6631 1000 Delivery Center Fax: 91 (020) 6631 1299 </address>
            </section>
            <section>
                <h5>Bengluru</h5>
                <address> 	Randstad India Private Limited, # 147, II Floor, Anjaneya Techno park, Airport Road, Kodihalli, Bangalore 560 008 					Bengaluru T: 080 - 66409000/9320 sales.enquiry@randstad.in </address>
            </section>
            <section>
                <h5>Mumbai</h5>
                <address>	DN Road, Opp crawford market, Crawford Market, Dhobi Talao, Fort, Mumbai, Maharashtra 400001
                    Phone: 022 2262 0879</address>
            </section>
            <section>
                <h5>Kolkata</h5>
                <address>

                    Netaji Subhas Chandra Bose Address
                    Netaji Subhas Chandra Bose International Airport
                    Jessore Rd
                    Dum Dum, Kolkata
                    West Bengal 700052

                    Enquiries Number: 91 33 2511 8036</address>

            </section>
            <section>
                <h5>Pune</h5>
                <address>	Tata Consultancy Services
                    Electronic Sadan No. 3, MIDC, Bhosari, Pune 411 026
                    Phone: 91 20 66115656 / 27123501
                    Fax: 91 20 27129209
                    Office Type: Delivery Center, Regional Office
                    Description: Delivery Center Phone: 91 (020) 6631 1000 Delivery Center Fax: 91 (020) 6631 1299 </address>
            </section>
            <section>
                <h5>Bengluru</h5>
                <address> 	Randstad India Private Limited, # 147, II Floor, Anjaneya Techno park, Airport Road, Kodihalli, Bangalore 560 008 					Bengaluru T: 080 - 66409000/9320 sales.enquiry@randstad.in </address>
            </section>
            <section>
                <h5>Mumbai</h5>
                <address>	DN Road, Opp crawford market, Crawford Market, Dhobi Talao, Fort, Mumbai, Maharashtra 400001
                    Phone: 022 2262 0879</address>
            </section>
            <section>
                <h5>Kolkata</h5>
                <address>

                    Netaji Subhas Chandra Bose Address
                    Netaji Subhas Chandra Bose International Airport
                    Jessore Rd
                    Dum Dum, Kolkata
                    West Bengal 700052

                    Enquiries Number: 91 33 2511 8036</address>

            </section>
            <section>
                <h5>Pune</h5>
                <address>	Tata Consultancy Services
                    Electronic Sadan No. 3, MIDC, Bhosari, Pune 411 026
                    Phone: 91 20 66115656 / 27123501
                    Fax: 91 20 27129209
                    Office Type: Delivery Center, Regional Office
                    Description: Delivery Center Phone: 91 (020) 6631 1000 Delivery Center Fax: 91 (020) 6631 1299 </address>
            </section>

        </div>
        <div id="main2">
            <form>
                <table>
                    <tr>
                        <td>
                            <h2>Feedback</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Submit Your Feedback</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="feedback">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="Submit" name="sub" value="submit">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>


</div>

</body>
</html>