<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
<div id="container">
  <div id="header1">
    <header>
      <h2>TravelYourOwnWay</h2>
      <nav>
        <a href="/register">Register</a>
        <a href="/contact">About us</a>
        <a href="/">Home</a>
      </nav>
    </header>
  </div>

  <div id="imgcontent">
    <img src="/images/child_backpack_mountains_travel_nature_54568_1366x768.jpg" width="1370" height="500">
  </div>

  <div id="container1">
    <section>
      <h1>Hotel Bookings</h1>
      <img src="/images/What%20is%20innovation.jpg" width="435" height="200">
      <p>Large hotel chains typically have direct connections to the airline national distribution systems (GDS) (Sabre, Galileo, Amadeus, and Worldspan). These in turn provide hotel information directly to the hundreds of thousands of travel agents that align themselves with one of these systems. Individual hotels and small hotel chains often cannot afford the expense of these direct connections and turn to other companies to provide the connections.Individual hotels and small hotel chains often cannot afford the expense of these direct connections and turn to other companies to provide the connections.</p>
    </section>

    <section>
      <h1>Hotel Bookings by budget</h1>
      <img src="/images/innovation_banner.jpg" width="435" height="200">
      <p>Small to medium-sized hotel establishments that offer a very limited amount of on-site amenities and often only offer basic accommodations with little to no services, these facilities normally only cater and market to a specific demographic of travelers, such as the budget-minded traveler seeking a "no frills" accommodation.Small to medium-sized hotel establishments that offer a very limited amount of on-site amenities and often only offer basic accommodations with little to no services, these facilities normally only cater and market to a specific demographic of travelers, such as the budget-minded traveler seeking a "no frills" accommodation.</p>
    </section>

    <section>
      <h1>Hotel Bookings by reviews</h1>
      <img src="/images/innovationbulb-1.jpg" width="435" height="200">
      <p>In February 2000, TripAdvisor was founded by Stephen Kaufer, Langley Steinert, and several others. Kaufer says the original idea wasn't a user generated social media site to swap reviews. Rather, "We started as a site where we were focused more on those official words from guidebooks or newspapers or magazines. We also had a button in the very beginning that said, "Visitors add your own review", and boy, did that just take off.Rather, "We started as a site where we were focused more on those official words from guidebooks or newspapers or magazines. We also had a button in the very beginning that said, "Visitors add your own review", and boy, did that just take off.</p>
    </section>

  </div>


</div>

</body>
</html>