<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<form action="/log" method="post">
    <table>
        <tr>
            <td>
                <h1>Login</h1>
            </td>
        </tr>
        <tr>
            <td>
                <label>Username</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="email">
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="Password" name="upass">
            </td>
        </tr><tr>
            <td>
                <input class="btn" type="Submit">
            </td>
        </tr>
    </table>
</form>

</body>
</html>